<%= form_for(@history) do |f| %>
  <% if @history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@history.errors.count, "error") %> prohibited this history from being saved:</h2>

      <ul>
      <% @history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="history-form">
  <span class="history-form">
    <div class="field">
      <%= f.label :prescription %><br>
      <%= f.text_field :prescription %>
    </div>
    <div class="field">
      <%= f.label :quantity %><br>
      <%= f.number_field :quantity %>
    </div>
    <div class="field">
      <%= f.label :fill_date %><br>
      <%= f.date_field :fill_date %>
    </div>
  </span>

  <span class="history-form">
    <div class="field">
      <%= f.label :provider %><br>
      <%= f.text_field :provider %>
    </div>
    <div class="field">
      <%= f.label :npi, "NPI" %><br>
      <%= f.text_field :npi %>
    </div>
    <div class="field">
      <%= f.label :pharmacy_id %><br>
      <%= f.text_field :pharmacy_id %>
    </div>
    <div class="field">
      <%= f.label :phone %><br>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.hidden_field :patient_id, :value => @history.patient_id %>
    </div>
    <div class="actions">
      <%= f.submit "Add Prescription" %>
    </div>
  </span>
</div>
<% end %>
