<p id="notice"><%= notice %></p>

<br>

<h3 class="subject-head">Patient Database</h3>


<%= form_tag patients_path, :method => "get", :id => 'search-form'  do %>
  <%= text_field_tag :name, params[:name], :placeholder => 'Search by Name' %>
  <%= text_field_tag :dob, params[:dob], :placeholder => 'Search by Date of Birth' %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<% if @patients.present? %>

  <div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Search Patient Database">
  </div>
  <span class="counter pull-right"></span>
  <button type="button" class="btn btn-info" id="add-prescription">  
    <a><%= link_to 'New Patient', new_patient_path %></a>
  </button>
  <table class="table table-hover table-bordered results">
    <thead>
      <tr>
        <th>#</th>
        <th class="col-md-3 col-xs-3">Name</th>
        <th class="col-md-1 col-xs-1">DOB</th>
        <th class="col-md-3 col-xs-3">Address</th>
        <th>Insurance</th>
        <th colspan="1"></th>
      </tr>
      <tr class="warning no-result">
        <td colspan="4"><i class="fa fa-warning"></i> No result</td>
      </tr>
    </thead>
    <tbody>
      <% @patients.each do |p| %>
        <tr> 
          <td scope="row"> <%= p.id %> </td>
          <td> <%= p.name %> </td>
          <td> <%= p.dob %> </td>
          <td> <%= p.address %> </td>
          <td> <%= p.insurance %> </td>
          <td><a href="/patients/<%= p.id %>"><button type="button" class="btn btn-link">Display</button></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>There are no patients containing your search terms.</p>
<% end %>