<p id="notice"><%= notice %></p>

<br>

<h3>Patient Information:</h3>

<button type="button" class="btn btn-info" id="edit-patient">  
  <%= link_to 'Edit Patient Information', edit_patient_path(@patient) %>
</button>

<div id="patient-info">
  <div id="patient-info-info">
    <span class="patient-data">
      <p>
        <strong>Name:</strong>
        <%= @patient.name %>
      </p>

      <p>
        <strong>DOB:</strong>
        <%= @patient.dob %>
      </p>
    </span>

    <span class="patient-data">
      <p>
        <strong>Address:</strong>
        <%= @patient.address %>
      </p>

      <p>
        <strong>Insurance:</strong>
        <%= @patient.insurance %>
      </p>
    </span>
  </div>
</div>


<br><br>

<h3>Patient Fill History:</h3>

<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Search Patient History">
</div>
<span class="counter pull-right"></span>
<button type="button" class="btn btn-info" id="add-prescription">  
  <a><%= link_to 'Add Prescription', new_history_path %></a>
</button>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <th>#</th>
      <th class="col-md-3 col-xs-3">Prescription</th>
      <th class="col-md-1 col-xs-1">Quantity</th>
      <th class="col-md-1 col-xs-1">Fill Date</th>
      <th>Provider</th>
      <th>NPI</th>
      <th>Pharmacy ID</th>
      <th class="col-md-2 col-xs-2">Phone</th>
    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>
    <% @patient.histories.each do |h| %>
      <tr> 
        <td scope="row"> <%= h.id %> </td>
        <td> <%= h.prescription %> </td>
        <td> <%= h.quantity %> </td>
        <td> <%= h.fill_date %> </td>
        <td> <%= h.provider %> </td>
        <td> <%= h.npi %> </td>
        <td> <%= h.pharmacy_id %> </td>
        <td> <%= h.phone %> </td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- <table id="patient-history">
  <thead>
    <tr> 
      <th>Prescription</th>
      <th>Quantity</th>
      <th>Fill Date</th>
      <th>Provider</th>
      <th>NPI</th>
      <th>Pharmacy ID</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <% @patient.histories.each do |h| %>
      <tr> 
        <td> <%= h.prescription %> </td>
        <td> <%= h.quantity %> </td>
        <td> <%= h.fill_date %> </td>
        <td> <%= h.provider %> </td>
        <td> <%= h.npi %> </td>
        <td> <%= h.pharmacy_id %> </td>
        <td> <%= h.phone %> </td>
      </tr>
    <% end %>
  </tbody>
</table> -->