<p id="notice"><%= notice %></p>

<h3>Patient Information:</h3>

<div id="patient-info">
  <div id="patient-info-info">
    <span class="patient-data">
      <p>
        <strong>Name:</strong>
        <%= @patient.name %>
      </p>

      <p>
        <strong>DOB:</strong>
        <%= @patient.dob %>
      </p>
    </span>

    <span class="patient-data">
      <p>
        <strong>Address:</strong>
        <%= @patient.address %>
      </p>

      <p>
        <strong>Insurance:</strong>
        <%= @patient.insurance %>
      </p>
    </span>
  </div>
</div>

<br><br>

<h3>Patient Fill History</h3>

<table>
  <thead>
    <tr> 
      <th>Prescription</th>
      <th>Quantity</th>
      <th>Fill Date</th>
      <th>Provider</th>
      <th>NPI</th>
      <th>Pharmacy ID</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <% @patient.histories.each do |h| %>
      <tr> 
        <td> <%= h.prescription %> </td>
        <td> <%= h.quantity %> </td>
        <td> <%= h.fill_date %> </td>
        <td> <%= h.provider %> </td>
        <td> <%= h.npi %> </td>
        <td> <%= h.pharmacy_id %> </td>
        <td> <%= h.phone %> </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Add Prescription', new_history_path %>
